

.register-form {
    
    display: flex;

    margin-bottom:20px;
    margin-left: auto;
    margin-right:auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    min-height: 70vh;
    max-width: 45vh;
    padding: auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(255,0,0,0), bisque);
    opacity: 40;
    color: black;


}
body{
    background-image: url("https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&w=1000&q=80") ;
}

label{
    text-align: left;
    padding:  1rem 0;
    
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    
}

button{
    border:none;
    

    border-radius: 10px;
    color: black;

    text-align: center;
    align-items: center;

}

.link-btn-login{
    background: none;
    color: white;
    text-decoration: underline;
    margin:auto;
    text-align: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
}

@media screen and (max-width: 850px){

    .register-form {
    
        display: flex;
        margin-top:100px;
        margin-bottom:20px;
        margin-left: auto;
        margin-right:auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        min-height: 70vh;
        max-width: 45vh;
        top: 100px;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top, rgba(255,0,0,0), bisque);
        opacity: 40;
        color: black;
    
    
    }
}

