.dashboard-doctor-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assetes/userDashboard.jpg');
    background-size: cover;
    background-position: center;
    /*z-index: -1;*/
  }

  .dashboard {
    font-family: Arial, sans-serif;
    position: absolute;
    padding: 20px;
    top: 30%;
    text-align: center;
    width: 100%;
    height: 86vh;
    overflow-y: auto;
    left: 1px;
    z-index: 100; /* Set a higher z-index value */
} 

  h1 {
    margin-bottom: 40px;
    color: #333;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Element container styling */
  .element {
    display: inline-block;
    width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    cursor: pointer;
  }
  
  /* Hover effect */
  .element:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Element title styling */
  .element h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #444;
  }
  
  /* Element data styling */
  .element p, .element ul {
    font-size: 1em;
    color: #555;
  }
  
  /* Interactive Content Styling */
  .interactive-content {
    margin-top: 40px;
    text-align: left;
  }
  
  .content-list {
    position: absolute;
    left: 25%;
    max-height: 400px;
    width: 700px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .content-item h4 {
    margin: 0 0 5px;
    color: #333;
  }
  
  .content-item p {
    margin: 0;
    color: #555;
  }
  