.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('../../assetes/UserProfileData2.jpg');
  background-size: cover;
  background-position: center;
}



.user-profile-container {
  background-color: white;
  width: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 22%;
  transform: translate(-50%, -50%);
 
}

.user-profile-container h2 {
  text-align: center;
}

.user-details {
  margin-top: 20px;
}

.user-details div {
  margin-bottom: 10px;
}

.donation-history-container {
  background-color: white;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 170%;
  transform: translate(-50%, -50%);
}

.donation-history-container h2 {
  text-align: center;
}

.donation-history-container ul {
  list-style-type: none;
  padding: 0;
}

.donation-history-container ul li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.selected-donation-container {
  background-color: white;
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.selected-donation-container h2 {
  text-align: center;
}

.toggle-button {
  background-color: pink;
  transition: transform 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: black;
  transform: scale(1.1);
}
