<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liquor Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title"><h2>About us</h2></div>
<div class="demo-container">
    <h3>The finest alcohol in town.</h3>
    <ul>
        <li>-Craci are o poveste la fel de efervescentă ca perlajul unei șampanii fine! Nici nu putea fi altfel, având în vedere că fondatorii sunt trei tineri antreprenori ambițioși și perfecționiști, dar mai presus de toate prieteni, care din anul 2014 și până acum nu au încetat să caute, să găsească și să implementeze cele mai bune soluții pentru ca iubitorii de gusturi fine să poată comanda băutura preferată simplu, rapid și la un preț corect oriunde s-ar afla în țară.</li>
        <br/>
        <li>-Încă de la prima sticlă vândută, Craci a dovedit că pune întotdeauna clientul și calitatea serviciilor oferite pe primul loc, astfel că cel mai apreciat magazin online de băuturi alcoolice a beneficiat în scurt timp și de o locație fizică, unde acum clienții pot alege de la raft băutura preferată asistați de experții noștri, într-o atmosferă cât se poate de prietenoasă și unde majoritatea băuturilor sunt disponibile spre degustare.</li>
        <br/>
        <li>-Și pentru că am adus deja în discuție de nenumărate ori cuvântul “client”, poate că acesta e cel mai potrivit moment pentru a spune că astăzi, clienții noștri au devenit cel de-al patrulea partener al nostru. Le mulțumim pentru faptul că s-au transformat de bunăvoie în ambasadori ai brand-ului FineStore, recomandându-ne constant pentru calitatea băuturilor și serviciilor noastre!</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>